body {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: Tahoma;
	font-size: 12px;
	height:100%;
}

html{
	height: 100%;
}

* body {
	height: 100%;
}

#container
{
	background-color: #fff;
	color: #333;
	line-height: 130%;
	position:relative;
	min-height: 100%;
}

#top
{
	padding: .5em;
	background-color: #ddd;
	background: #BBD9EE;
	height: 50px;
	color: #fff;

}

#top h1
{
	padding: 0;
	margin: 0;
	line-height: 25px;
	font-size: 25px;
}

#sidemenu
{
	float: left;
	width: 170px;
	margin: 0;
	background: #FFF6BF;
}

#content
{
	padding: 0px;
	margin: 0px;
	margin-left: 170px;
}

#footer
{
	clear: both;
	margin: 0;
	padding: 0;
	height: 64px;
	background: #BBD9EE;
}

#chats {
	
	
	padding-left: 200px;
}

#chats ul {
	list-style: none;
	padding:0px;margin:0px;
}
#chats a {
	color: #666;
	text-decoration: none;
}
#chats li {
	display: block;
	float: left;
	padding: 5px 25px 5px 25px;
	margin: 0px 10px 0px 0px;
	background: #E7F1F8;
	 border-bottom : 1px solid #fff; border-left : 1px solid #fff; border-right : 1px solid #fff;
}

#chats li.active {
	background: #FFF;
}

.time {
	color: #666;
}

.clear {
	clear: both;
	display: block;
}

.content_text {
	height: 100%;
	overflow: auto;
	padding-left: 10px;
	padding-top: 5px;
}

.sidemenu_text {
	height: 100%;
	overflow: auto;
}

#sidemenu ul {
	list-style: none;
}
